@import "tailwindcss";

@keyframes floatY {
  0% { transform: translateY(0); }
  50% { transform: translateY(-45px); }
  100% { transform: translateY(0); }
}

.animate-float {
  animation: floatY 12s ease-in-out infinite;
}

.animate-float-slow {
  animation: floatY 15s ease-in-out infinite;
}
